<footer class="footer-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="widget mb-3">
                    <h3>News</h3>
                    <ul class="list-unstyled links">
                        <li><a href="#">All</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="widget mb-3">
                    <h3>Tickets</h3>
                    <ul class="list-unstyled links">
                        <li><a href="#">Online Ticket</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="widget mb-3">
                    <h3>Matches</h3>
                    <ul class="list-unstyled links">
                        <li><a href="#">Standings</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="widget mb-3">
                    <h3>Social</h3>
                    <ul class="list-unstyled links">
                        {% if contact.telegram %}
                            <li><a href="{{ contact.telegram }}">Telegram</a></li>
                        {% endif %}
                        {% if contact.instagram %}
                            <li><a href="{{ contact.instagram }}">Instagram</a></li>
                        {% endif %}
                        {% if contact.facebook %}
                            <li><a href="{{ contact.facebook }}">Facebook</a></li>
                        {% endif %}
                        {% if contact.twitter %}
                            <li><a href="{{ contact.twitter }}">Twitter</a></li>
                        {% endif %}
                        {% if contact.youtube %}
                            <li><a href="{{ contact.youtube }}">Youtube</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>