<div class="social-btn">
    <div class="social-links">
        {% if contact.facebook %}
            <div style="background: rgba(66, 103, 178, .5);" class="social-items"><a href="{{ contact.facebook }}"><i class="fab fa-facebook-f"></i></a></div>
        {% endif %}
        {% if contact.twitter %}
            <div style="background: rgba(29, 161, 242, 0.5);" class="social-items"><a href="{{contact.twitter}}"><i class="fab fa-twitter"></i></a></div>
        {% endif %}
        {% if contact.instagram %}
            <div style="background: rgba(225, 48, 108, 0.5);" class="social-items"><a href="{{contact.instagram}}"><i class="fab fa-instagram"></i></a></div>
        {% endif %}
        {% if contact.youtube %}
            <div style="background: rgba(255, 0, 0, 0.5);" class="social-items"><a href="{{contact.youtube}}"><i class="fab fa-youtube"></i></a></div>
        {% endif %}
        {% if contact.telegram %}
            <div style="background: rgba(0, 136, 204, .5);" class="social-items"><a href="{{contact.telegram}}"><i class="fab fa-telegram"></i></a></div>
        {% endif %}
    </div>
</div>